/* * {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --brown: #ee090923;
    --red: rgb(109, 1, 1);

}
body {
    background-color: var(--red);
    
}
.main {
    background-image: url("red bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}
.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.48;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 65vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    z-index: 10;
}
.home a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
/* .nav-link{
        color: red;
} */
.home a:hover {
    border-radius: 20px;
    background-color: #2d2d2d;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav img {
    color: red;
    width: 160px;
    position: relative;
}
/* nav button {
    position: relative;
    z-index: 10;
} */

.hello {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 12px;
    padding: 20px 30px;
}

.hello>:nth-child(1){
    font-weight: bolder;
    font-size: 50px;
    text-align: center;

}

.hello>:nth-child(2) {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}
.hello>:nth-child(1), .hello>:nth-child(2) {
    line-height: 1.5;
 }
 

.hello>:nth-child(3) {
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.sep {
    height: 7px;
    background-color: gray;
    position: relative;
    z-index: 20;
}

.btn {
    background-color: white;
    padding: 3 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 5px;
    margin-top: 0;
}

.btn-get {
    background-color: red;
    color: white;
    padding: 14px 44px;
    border-radius: 4px;
    font-size: 22px;
}
.btn:hover {
    transition: 0.3s ease, transform 0.3s ease;
    transform: scale(1.05);   
}
.btn-sign {
    background-color: red;
    color: white;
    padding: 12px 16px;
    width: 200px;
    border-radius: 4px;
    font-size: larger;
}

/* not neccessary */
.hello-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input {
    padding: 15px 120px 16px 28px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    background-color: rgba(23, 23, 23, 0.6);
    font-weight: bolder;
    border: 1px solid rgba(246, 238, 238, 0.4);
}
.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 110vw;
    color: white;
}
.secImg {
    position: relative;
}
.secImg img {
    width: 560px;
    position: relative;
    z-index: 10;
    filter: brightness(70%);
}

.secImg video {
    position: relative;
    top: 8px;
    left: 20px;
    right: 50px;
    width: 300px;
    height: 350px;
    border-radius: 70%;
}
.video video {
    margin-left: 30px;
    position: relative;
    width: 300px;
    height: 350px;
}

section.first>div {
    display: flex;
    padding: 34px 0;
    flex-direction: column;
}

.first>div :nth-child(1) {
    font-size: 45px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 18px;
    font-weight: bolder;
}

.frequently {
    background-color: black;
    color: white;
    padding: 34px;
}

.frequently-box {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    /* transition: all 0.25s ease-in-out; */
}

.frequently-box:hover {
    background-color: rgb(77, 76, 76);
}

.frequently h2 {
    margin-left: 140px;
    font-size: 26px;
    font-weight: 500;
}

.last {
    height: 100px;
    font-family: 'Martel Sans', sans-serif;
    color: white;
    text-align: center;
    padding: 20px;

}

.last input {
    padding: 15px 350px 16px 28px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    background-color: rgba(23, 23, 23, 0.6);
    font-weight: bolder;
    border: 1px solid rgba(246, 238, 238, 0.4);
}

.get {
    background-color: red;
    color: white;
    padding: 12px 34px;
    border-radius: 4px;
    font-size: 22px;
    border: none;
}

.question {
    padding: 34px 0;
}

.question a {
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin-top: 0%;
    margin-left: 140px;
    padding: 10px;
    position: relative;

}

footer .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    position: relative;
    z-index: 5;

}

.watermark::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 110px;
    background-image: url(t_bg-remover-gen_2s21bAi7mhwTZCP0CoXsMwt9CnA\ \(1\).png);
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 2;

}

.footer a {
    font-size: 14px;
    color: white;
    z-index: 1;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 23px;

}

.ending {
    color: white;
    padding-left: 150px;
    padding-top: 45px;
    padding-bottom: 50px;
    font-size: larger;
}

.ending button {
    background-color: rgba(23, 23, 23, 0.4);
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 120px;
    border-radius: 4px;
}

.end {
    color: white;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
}


/* animation */
.hello>:nth-child(1),
.hello>:nth-child(2),
.hello>:nth-child(3),
.hello>:nth-child(4),
.hello>:nth-child(5) {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .5s linear 1 forwards;
}

.hello>:nth-child(1) {
    animation-delay: 1s;
}

.hello>:nth-child(2) {
    animation-delay: 1.25s;
}

.hello>:nth-child(3) {
    animation-delay: 1.5s;
}

.hello>:nth-child(4) {
    animation-delay: 1.75s;
}

.hello>:nth-child(5) {
    animation-delay: 2s;
}

/* responsive-mobile */

/* @media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    nav img {
        width: 120px;
    }

    .hello>:nth-child(1),
    .hello>:nth-child(2) {
        font-size: 35px;
    }

    .hello>:nth-child(3) {
        font-size: 16px;
    }
    .secImg img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .secImg video {
        width: 80%;
        height: auto;
        border-radius: 70%;
    }

    .first {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .footer {
        margin-left: 0;
        padding: 20px;
    }
    .ending {
        padding-left: 20px;
        padding-top: 20px;
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .secImg img {
        width: 80%;
        height: auto;
    }

    .hello>:nth-child(1),
    .hello>:nth-child(2) {
        font-size: 40px;
    }

    .first {
        flex-direction: row;
        justify-content: space-around;
    }
}  */
